/* ----------------------------------------------------------------------------
   Changement du calcul de la hauteur et la largeur totale d'un élément
---------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* ----------------------------------------------------------------------------
   Variables
---------------------------------------------------------------------------- */
:root {
  /* Couleurs Principales */
  --content-primary: #edf2ef;
  --content-secondary: #f9fffb;
  --content-tertiary: #e5e8e4;
  --content-transparence: rgba(237, 242, 239, 0.5);

  /* Couleurs Neutres */
  --neutal-primary: #24272b;
  --neutal-secondary: #515356;
  --neutal-tertiary: #151515;

  /* Couleurs Actions */
  --action-primary: #f2e3bd;
  --action-secondary: #f3ecd8;
  --action-tertiary: #e3cf9d;

  /* Couleurs Complémentaires */
  --complementary-primary: #f49097;
  --complementary-secondary: #a288e3;
  --complementary-tertiary: linear-gradient(225deg, #fcabb1 0%, #eff2c0 100%);
}

/* ----------------------------------------------------------------------------
   Éléments (balises)
---------------------------------------------------------------------------- */
body {
  background-color: var(--neutal-primary);
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
label,
li,
p {
  color: var(--content-primary);
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 109.97%;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 0.5;
}

h3 {
  font-weight: 600;
  font-size: 3.75rem;
  padding-bottom: 10px;
}

p,
label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 3.375rem;
  }
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 2.625rem;
  }
}

a,
li {
  color: var(--content-primary);
  text-decoration: none;
  transition: all 300ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a > img:hover,
.nav__animation li:hover,
a:hover,
button:hover {
  transition: all 300ms;
  transform: scale(1.1);
}

::selection {
  color: var(--complementary-secondary);
}

/*----------------------------------------------------------------------------
    Objets (Structure, classes)
----------------------------------------------------------------------------*/
.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper_demo {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1800px) {
  .wrapper_demo {
    max-width: 1500px;
  }
}

/*----------------------------------------------------------------------------
    Composants
----------------------------------------------------------------------------*/

/*------------------------------------------------------ Header ------------------------------------------------------*/
.header {
  padding: 30px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 20px;
  }
}

.is-scrolling-down .header .nav__animation,
.is-scrolling-up .header .nav__animation {
  transform: translate(80%, 800%) rotate(90deg);
}

[class="is-scrolling-up"] .header .nav__animation {
  transform: rotate(0);
}

.header__style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  height: 50px;
}

.nav_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  transition: all 300ms;
}

.nav__animation li + li {
  margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .nav__animation {
    margin-right: 30px;
  }

  .nav__animation li + li {
    margin-left: 30px;
  }

  .is-scrolling-down .header .nav__animation,
  .is-scrolling-up .header .nav__animation {
    transform: translate(75%, 700%) rotate(90deg);
  }

  [class="is-scrolling-up"] .header .nav__animation {
    transform: rotate(0);
  }
}

/*------------------------------------------------------ Footer ------------------------------------------------------*/
.footer__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 0 20px 0;
}

.footer__style_projects {
  position: absolute;
  right: 10% !important;
  bottom: 3% !important;
  z-index: 15;
}

@media screen and (max-width: 460px) {
  .footer__style_projects {
    right: 3% !important;
  }
}

@media screen and (max-width: 410px) {
  .footer__style_projects {
    right: 15% !important;
  }
}

.footer__style .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__style_projects .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .socials li + li {
  padding-left: 20px;
}

footer .social_icon {
  width: auto;
  height: 25px;
}

/*---------------------------------------------------- Conteneur ---------------------------------------------------*/
.site-container,
.site-container-index {
  padding: 0 50px;
}

@media screen and (max-width: 1700px) {
  .site-container,
  .site-container-index {
    padding: 0 70px;
  }
}

@media screen and (max-width: 1300px) {
  .site-container-index {
    padding: 0;
  }
}

/*----------------------------------------------- Barre de défilement ----------------------------------------------*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #606466 #24272b;
}

/* Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #24272b;
}

*::-webkit-scrollbar-thumb {
  background-color: #606466;
  border-radius: 0px;
  border: 0px none #ffffff;
}
/*Code créer avec l'aide du site Custom Scrollbar Maker : https://codepen.io/stephenpaton-tech/full/JjRvGmY

/*----------------------------------------------------- Boutons ----------------------------------------------------*/
.reset-style_button {
  padding: 0;
  border: none;
  font: inherit;
  color: var(--content-primary);
  background-color: transparent;
  cursor: pointer;

  align-self: center;
}

.button {
  display: inline-block;
  padding: 10px 0;
  width: 325px;
  text-align: center;
  border: 1px solid var(--content-primary);

  transition: all 300ms;
}

@media screen and (max-width: 500px) {
  .button {
    width: 250px;
  }
}

.button:hover {
  background-color: var(--content-primary);
  color: var(--neutal-primary);
}

.button__small {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--content-primary);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons .button + .button {
  margin-top: 10px;
}

/*----------------------------------------------- Lignes de séparation ---------------------------------------------*/
.line {
  display: inline-block;
  border-top: 0.044rem solid var(--content-primary);
  width: 60%;
}

footer .line {
  padding-top: 30px;
}

@media screen and (max-width: 1000px) {
  .line {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .line {
    width: 70%;
  }
}

/*-------------------------------------------- Style des listes à points -------------------------------------------*/
.list_dot {
  list-style: url(../svg/list.svg);
  padding-left: 18px;
}

/*---------------------------------------------- Style de la page 404 ----------------------------------------------*/
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found .button {
  margin-top: 50px;
}

/*--------------------------------------------- Section Contenu Accueil -------------------------------------------*/
.hero {
  padding: 130px 0 70px 0;
}

@media screen and (max-width: 1000px) {
  .hero {
    padding: 90px 0 70px 0;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 90px 0 40px 0;
  }
}

.content_index {
  display: flex;
  align-items: center;
  justify-content: stretch;

  position: relative;
}

.index_infos {
  align-self: flex-end;
}

.index_infos .titles {
  position: absolute;
  top: 30%;
  right: 5%;
}

.index_infos .button {
  margin: 0 0 30% 10%;
  white-space: nowrap;
}

.content_index .demo_reel {
  width: 75%;
  height: auto;
}

.content_index h1 {
  position: relative;
}

.signature {
  position: absolute;
  top: -120%;
  right: 7%;
}

@media screen and (max-width: 1300px) {
  .content_index {
    flex-direction: column;
  }

  .index_infos {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index_infos .titles {
    position: static;
  }

  .content_index .demo_reel {
    width: 100%;
  }

  .index_infos .button {
    margin: 10% 0 0 0;
  }
}

/*--------------------------------------------- Section Contenu À propos -------------------------------------------*/
.about__hero {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0 70px 0;
}

@media screen and (max-width: 1220px) {
  .about__hero {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .about__hero {
    padding: 0 0 40px 0;
  }
}

.about__hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__hero .about__picture {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1410px) {
  .about__hero .about__picture {
    width: 45%;
  }
}

@media screen and (max-width: 1300px) {
  .about__hero .about__picture {
    width: 40%;
  }
}

@media screen and (max-width: 1220px) {
  .about__hero .about__picture {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .about__hero .about__picture {
    width: 100%;
  }
}

.about_alanisbedard {
  margin-left: 100px;
}

@media screen and (max-width: 1220px) {
  .about_alanisbedard {
    margin: 0 70px;
  }
}

@media screen and (max-width: 800px) {
  .about_alanisbedard {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .about_alanisbedard h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .about_alanisbedard h1 {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 400px) {
  .about_alanisbedard h1 {
    font-size: 2.5rem;
  }
}

.about_alanisbedard h1 {
  position: relative;
}

.about_alanisbedard .about__signature {
  position: absolute;
  top: -120%;
  left: -11%;
}

.about_alanisbedard p {
  margin-top: 20px;
}

/*--- Section Apprentissages ---*/
.knowledge {
  padding: 0 0 70px 0;
}

.knowledge__content {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
}

@media screen and (max-width: 1400px) {
  .knowledge__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .knowledge__content div {
    justify-self: center;
  }

  .languages {
    grid-column: span 2;
  }
}

@media screen and (max-width: 700px) {
  .knowledge__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .knowledge__content div {
    justify-self: self-start;
  }

  .languages {
    grid-column: span 1;
  }
}

.softwares ul {
  display: flex;
  align-items: center;
  justify-content: left;
}

.softwares li + li {
  margin-left: 15px;
}

.softwares img {
  height: 40px;
  width: auto;
}

/*--- Section Médias ---*/
.about__display {
  background-image: url(../images/about-projects.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.about_medias {
  overflow: hidden;
  position: relative;
  height: 70px;
}

.about_qualites {
  color: var(--neutal-primary);
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: -1px 1px 0px #565857, 1px -1px 0px #565857, 1px 0px 0px #565857,
    -1px -1px 0px #565857, 1px 1px 0px #565857;

  white-space: nowrap;
  animation: urmove 30s linear infinite alternate;
  position: absolute;
  top: 0;
  right: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -1000px;
  }
}

@keyframes urmove {
  from {
    right: 0;
  }
  to {
    right: -1000px;
  }
}

@keyframes about_medias {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.about_medias {
  animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */

  animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration: 30s;
  animation-delay: 1.5s;
}
/*-- Code pour l'aniamtion basé sur le code de Chris Drinkut (CodePen) : https://codepen.io/ChrisDrinkut/pen/GvrqNR --*/

/*--- Section bourses et objectif ---*/
.achievements {
  padding: 70px 0;
}

.achievements__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .achievements__content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.scholarship ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.scholarship li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scholarship li + li {
  margin-top: 5px;
}

.scholarship span {
  margin-left: 40px;
}

/*--- Section Références ---*/
.references__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.references__content .buttons {
  padding-bottom: 70px;
}

/*--- Section Présentation ---*/
.presentation {
  padding-bottom: 70px;
}

/*--------------------------------------------- Section Contenu Contact --------------------------------------------*/
.contact__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact__content > * {
  flex: 1;
}

.contact_infos {
  padding-right: 70px;
}

.contact_infos p:first-of-type {
  padding: 20px 0 40px 0;
}

.contact_infos p:last-of-type {
  margin-top: 5px;
}

.references {
  padding: 0 0 70px 0;
}

/*--- Formulaire ---*/
.form {
  padding-left: 70px;
  border-left: 0.044rem solid var(--content-primary);
  width: 120%;
  height: 500px;
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  caret-color: var(--content-primary);
}

.input + .input {
  margin-top: 25px;
}

.input__label {
  margin-bottom: 10px;
}

.input__element {
  color: var(--content-primary);
  background-color: var(--neutal-primary);
  border: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--content-primary);
  transition: 0.2s;
}

.input_textarea {
  height: 220px;
  padding: 10px;
  border: 1px solid var(--content-primary);
  resize: none;
}

.texte-erreur {
  color: var(--complementary-primary);
}

.form_confirmation {
  display: none;
  height: 120%;
}

.form button {
  margin-top: 25px;
}

@media screen and (max-width: 1000px) {
  .contact__content {
    flex-direction: column;
  }

  .contact_infos {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .contact_infos p:first-of-type {
    padding: 15px 0 15px 0;
  }

  .form {
    padding-left: 0;
    padding-top: 30px;
    border-left: 0 solid var(--content-primary);
    border-top: 0.044rem solid var(--content-primary);
    width: 100%;
    height: 500px;
  }
}

/*--------------------------------------------- Section Projets --------------------------------------------*/
.projects__hero {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.project__title {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 109.97%;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  text-align: center;
}

@media screen and (max-width: 815px) {
  .project__title {
    font-size: 3.375rem;
  }
}

@media screen and (max-width: 500px) {
  .project__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  .project__title {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 400px) {
  .project__title {
    font-size: 2.5rem;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-buttons::after {
  font-size: 40px !important;
  color: var(--content-primary) !important;
  padding: 0 3% !important;
}

@media screen and (max-width: 600px) {
  .navigation-buttons::after {
    font-size: 30px !important;
  }
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--content-transparence) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--content-primary) !important;
}

.swiper-pagination-horizontal {
  left: 10% !important;
  bottom: 3% !important;
}

@media screen and (max-width: 900px) {
  .swiper-pagination-horizontal {
    left: 15% !important;
  }
}

@media screen and (max-width: 410px) {
  .swiper-pagination-horizontal {
    left: 50% !important;
    bottom: 10% !important;
  }
}

.hero__bgi {
  z-index: -1;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.hero__bgi img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__bgi::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;

  background: var(--complementary-secondary);
  mix-blend-mode: overlay;
}

/*--------------------------------------------- Section Projet --------------------------------------------*/
.project__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin-bottom: 60px;
}

.button__back {
  position: fixed;
  left: 50%;
  top: 7%;
  mix-blend-mode: difference;
  z-index: 100;
  width: 30px;
  height: 30px;
  transition: all 300ms;
}

.button__back a::before {
  content: "";
  display: block;
  width: 2px;
  height: 25px;
  transform: rotate(45deg);

  background-color: var(--content-primary);
}

.button__back a::after {
  content: "";
  display: block;
  width: 2px;
  height: 25px;
  transform: translateY(-100%) rotate(-45deg);

  background-color: var(--content-primary);
}

.project__description p {
  max-width: 700px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px 0 70px 0;
}

.gallery img:first-child {
  width: 100%;
  grid-column: span 3;
  justify-self: center;
}

.gallery .large__img {
  width: 70% !important;
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin: 50px 0 70px 0;
  }

  .gallery img:first-child {
    width: 100%;
    grid-column: 1;
    justify-self: center;
  }
}

.gallery__display {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

@media screen and (max-width: 1200px) {
  .gallery__display {
    background-position: right;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .gallery__display {
    height: 300px;
  }
}

.display__project1 {
  background-image: url(../images/projet1-display.jpg);
}

.display__project2 {
  background-image: url(../images/projet2-display.jpg);
}

.display__project3 {
  background-image: url(../images/projet3-display.jpg);
}

.display__project4 {
  background-image: url(../images/projet4-display.jpg);
}

.display__project5 {
  background-image: url(../images/projet5-display.jpg);
}

.project__skills {
  margin: 70px 0;
}

.skills_medias {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-gap: 30px;
}

.skills_medias img {
  align-self: center;
}

@media screen and (max-width: 1200px) {
  .skills_medias {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

.skills_infos {
  align-self: center;
}

.skills_softwares h3 {
  margin-top: 30px;
}

.project__final iframe {
  width: 100%;
  height: 700px;
}

.credits {
  margin: 70px 0;
}
