/* ----------------------------------------------------------------------------
   Changement du calcul de la hauteur et la largeur totale d'un élément
---------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* ----------------------------------------------------------------------------
   Variables
---------------------------------------------------------------------------- */
:root {
  /* Couleurs Principales */
  --content-primary: #edf2ef;
  --content-secondary: #f9fffb;
  --content-tertiary: #e5e8e4;
  --content-transparence: rgba(237, 242, 239, 0.5);

  /* Couleurs Neutres */
  --neutal-primary: #24272b;
  --neutal-secondary: #515356;
  --neutal-tertiary: #151515;

  /* Couleurs Actions */
  --action-primary: #f2e3bd;
  --action-secondary: #f3ecd8;
  --action-tertiary: #e3cf9d;

  /* Couleurs Complémentaires */
  --complementary-primary: #f49097;
  --complementary-secondary: #a288e3;
  --complementary-tertiary: linear-gradient(225deg, #fcabb1 0%, #eff2c0 100%);
}

/* ----------------------------------------------------------------------------
   Éléments (balises)
---------------------------------------------------------------------------- */
body {
  background-color: var(--neutal-primary);
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
label,
li,
p {
  color: var(--content-primary);
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 109.97%;
  text-transform: uppercase;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 0.5;
}

h3 {
  font-weight: 600;
  font-size: 3.75rem;
  padding-bottom: 10px;
}

p,
label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
}

a {
  color: var(--content-primary);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*----------------------------------------------------------------------------
    Objets (Structure, classes)
----------------------------------------------------------------------------*/
.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------------------------------------------
    Composants
----------------------------------------------------------------------------*/

/*------------------------------------------------------ Header ------------------------------------------------------*/
.header {
  padding: 30px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.is-scrolling-down .header .nav__animation,
.is-scrolling-up .header .nav__animation {
  transform: translate(80%, 800%) rotate(90deg);
}

[class="is-scrolling-up"] .header .nav__animation {
  transform: rotate(0);
}

.header__style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  height: 50px;
}

.nav_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  transition: all 300ms;
}

.nav__animation li + li {
  margin-left: 50px;
}

/*------------------------------------------------------ Footer ------------------------------------------------------*/
.footer__style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 0 20px 0;
}

.footer__style_projects {
  position: absolute;
  right: 10% !important;
  bottom: 3% !important;
  z-index: 15;
}

.footer__style .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__style_projects .socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .socials li + li {
  padding-left: 20px;
}

footer .social_icon {
  width: auto;
  height: 25px;
}

/*---------------------------------------------------- Conteneur ---------------------------------------------------*/
.site-container {
  padding: 0 50px;
}

/*----------------------------------------------- Barre de défilement ----------------------------------------------*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #606466 #24272b;
}

/* Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #24272b;
}

*::-webkit-scrollbar-thumb {
  background-color: #606466;
  border-radius: 0px;
  border: 0px none #ffffff;
}
/*Code créer avec l'aide du site Custom Scrollbar Maker : https://codepen.io/stephenpaton-tech/full/JjRvGmY

/*----------------------------------------------------- Boutons ----------------------------------------------------*/
.reset-style_button {
  padding: 0;
  border: none;
  font: inherit;
  color: var(--content-primary);
  background-color: transparent;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 0;
  width: 325px;
  text-align: center;
  border: 1px solid var(--content-primary);
}

.button__small {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--content-primary);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons .button + .button {
  margin-top: 10px;
}

/*----------------------------------------------- Lignes de séparation ---------------------------------------------*/
.line {
  display: inline-block;
  border-top: 0.044rem solid var(--content-primary);
  width: 60%;
}

footer .line {
  padding-top: 30px;
}

/*-------------------------------------------- Style des listes à points -------------------------------------------*/
.list_dot {
  list-style: url(../svg/list.svg);
  padding-left: 18px;
}

/*--------------------------------------------- Section Contenu Accueil -------------------------------------------*/
.hero {
  padding: 130px 0 70px 0;
}

.content_index {
  display: flex;
  align-items: center;
  justify-content: stretch;

  position: relative;
}

.index_infos {
  align-self: flex-end;
}

.index_infos .titles {
  position: absolute;
  top: 30%;
  right: 5%;
}

.index_infos .button {
  margin: 0 0 30% 10%;
  white-space: nowrap;
}

.content_index .demo_reel {
  width: 75%;
  height: auto;
}

.content_index h1 {
  position: relative;
}

.signature {
  position: absolute;
  top: -120%;
  right: 7%;
}

/*--------------------------------------------- Section Contenu À propos -------------------------------------------*/
.about__hero {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0 70px 0;
}

.about__hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__hero .about__picture {
  max-width: 772px;
  height: 100%;
}

.about_alanisbedard {
  margin-left: 100px;
}

.about_alanisbedard h1 {
  position: relative;
}

.about_alanisbedard .about__signature {
  position: absolute;
  top: -120%;
  left: -11%;
}

.about_alanisbedard p {
  margin-top: 20px;
}

/*--- Section Apprentissages ---*/
.knowledge {
  padding: 0 0 70px 0;
}

.knowledge__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.softwares ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.softwares li + li {
  margin-left: 15px;
}

.softwares img {
  height: 40px;
  width: auto;
}

/*--- Section Médias ---*/
.about_medias img {
  width: 100%;
  height: 960px;
  object-fit: cover;
}

.about_qualites {
  color: var(--neutal-primary);
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: -1px 1px 0px #565857, 1px -1px 0px #565857, 1px 0px 0px #565857,
    -1px -1px 0px #565857, 1px 1px 0px #565857;
}

/*--- Section bourses et objectif ---*/
.achievements {
  padding: 70px 0;
}

.achievements__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.scholarship ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.scholarship li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scholarship li + li {
  margin-top: 5px;
}

.scholarship span {
  margin-left: 40px;
}

/*--- Section Références ---*/
.references__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.references__content .buttons {
  padding-bottom: 70px;
}

/*--- Section Présentation ---*/
.presentation {
  padding-bottom: 70px;
}

/*--------------------------------------------- Section Contenu Contact --------------------------------------------*/
.contact__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact_infos {
  padding-right: 70px;
}

.contact_infos p:first-of-type {
  padding: 20px 0 40px 0;
}

.contact_infos p:last-of-type {
  margin-top: 5px;
}

.references {
  padding: 0 0 70px 0;
}

/*--- Formulaire ---*/
.form {
  padding-left: 70px;
  border-left: 0.044rem solid var(--content-primary);
  width: 120%;
  height: 120%;
}

.input {
  display: flex;
  flex-direction: column;
  caret-color: var(--content-primary);
}

.input + .input {
  margin-top: 25px;
}

.input__label {
  margin-bottom: 10px;
}

.input__element {
  color: var(--content-primary);
  background-color: var(--neutal-primary);
  border: none;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--content-primary);
  transition: 0.2s;
}

.input_textarea {
  height: 220px;
  padding: 10px;
  border: 1px solid var(--content-primary);
  resize: none;
}

.texte-erreur {
  color: var(--complementary-primary);
}

.form_confirmation {
  display: none;
}

.form button {
  margin-top: 25px;
}

/*--------------------------------------------- Section Projets --------------------------------------------*/
.projects__hero {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.project__title {
  font-weight: 700;
  font-size: 5.625rem;
  line-height: 109.97%;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-buttons {
  width: 20px !important;
  height: 30px !important;
  color: var(--content-primary) !important;
  padding: 0 3% !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--content-transparence) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--content-primary) !important;
}

.swiper-pagination-horizontal {
  left: 10% !important;
  bottom: 3% !important;
}

.hero__bgi {
  z-index: -1;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.hero__bgi img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__bgi::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;

  background: var(--complementary-secondary);
  mix-blend-mode: overlay;
}
